body {
background-color: rgb(212, 170, 115);
color:black;
font-size: 25px;
}

h1 {
    color: blue;
    font-size: 40px;
    text-align: center;
}

p {
    color: black;
    font-size: 25px;
}

header {
    color:blue;
    font-size: 35px;
    border-bottom: solid blue 5px;
    padding: 20px;
}